@import "tailwindcss";

@theme {
  --color-bg-dark: var(--bg-dark);
  --color-bg: var(--bg);
  --color-bg-light: var(--bg-light);
  --color-text: var(--text);
  --color-text-muted: var(--text-muted);
  --color-highlight: var(--highlight);
  --color-border: var(--border);
  --color-border-muted: var(--border-muted);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-danger: var(--danger);
  --color-warning: var(--warning);
  --color-success: var(--success);
  --color-info: var(--info);

  --text-32: 2rem;
  --text-24: 1.5rem;
  --text-18: 1.125rem;
  --text-16: 1rem;
  --text-14: 0.875rem;
  --text-10: 0.625rem;

  --font-work-sans: var(--work-sans);
  --font-outfit: var(--outfit);

  --spacing-space-xl: 2rem;
  --spacing-space-lg: 1.5rem;
  --spacing-space-base: 1.25rem;
  --spacing-space-sm: 0.6rem;
  --spacing-space-xs: 0.25rem;

  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
}

:root {
  --color-bg-dark: oklch(0.1 0 275);
  --color-bg: oklch(0.15 0 275);
  --color-bg-light: oklch(0.2 0 275);
  --color-text: oklch(0.96 0 275);
  --color-text-muted: oklch(0.76 0 275);
  --color-highlight: oklch(0.5 0 275);
  --color-border: oklch(0.4 0 275);
  --color-border-muted: oklch(0.3 0 275);
  --color-primary: oklch(0.76 0.3 275);
  --color-secondary: oklch(0.76 0.1 95);
  --color-danger: oklch(0.7 0.1 30);
  --color-warning: oklch(0.7 0.1 100);
  --color-success: oklch(0.7 0.1 160);
  --color-info: oklch(0.7 0.1 260);
}

@layer base {
  body {
    @apply font-outfit;
  }

  h2 {
    @apply text-32 text-text font-medium;
  }
}

@layer utilities {
  .hide-scrollbar {
    &::-webkit-scrollbar {
      display: none;
    }

    scrollbar-width: none;

    -ms-overflow-style: none;

    overflow-y: auto;
  }

  .animate-in {
    @apply opacity-100 scale-100;
  }

  .animate-out {
    @apply opacity-0 scale-50 pointer-events-none;
  }

  .toast-in {
    animation: slideInRight 0.3s ease-out forwards;
  }

  .toast-out {
    animation: slideOutRight 0.3s ease-in forwards;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}
